<!DOCTYPE html>
<html>
<head>
    <!-- All the meta data -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="ChatApp - Chat With Anyone, Anywhere">
    <meta name="description" content="Talk to anyone, anywhere around the globe, ad-free. Keep your conversations private with private chat rooms or make them public so anyone can join.">
    <meta name="theme-color" content="#abd1c9ff">

    <!-- Site title -->
    {% if title %}
        <title>ChatApp - {{ title }}</title>
    {% else %}
        <title>ChatApp - Chat With Anyone, Anywhere</title>
    {% endif %}

    <!-- JS SocketIO import -->
    <script src="https://cdn.socket.io/4.4.1/socket.io.min.js" integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS import-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <!-- Custom CSS import-->
    <link rel="stylesheet" href="/static/base.css">

    <!-- Google Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20,300,0,0" />
</head>
<body>
    <!-- Bootstrap JS imports-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

    <!-- Top navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: var(--blue-green)">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('views.home') }}">Chat App</a>
            <!-- Add a button to display the navbar links on small screens. -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-links">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav-links">
                <!-- Links on the left -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.home') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('views.emoji_list') }}">Emojis</a>
                    </li>
                </ul>
                <!-- Links on the right-->
                <ul class="navbar-nav ml-auto">
                    <!-- Display a login button if the user is not logged in. Otherwise, display a logout button. -->
                    {% if session.get('user') is none %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('views.claim_account') }}">Claim Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('views.login') }}">Login</a>
                        </li>
                    {% else %}
                        <!-- Add a link to creating claim codes if the user is a superuser-->
                        {% if session.get('user').user_type == 1 %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('views.create_claim_code') }}">Create Claim Code</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('views.logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Displays flashed messages with category success to the screen. -->
    {% with success_messages = get_flashed_messages(category_filter=["success"]) %}
        {% for msg in success_messages %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endwith %}

    <!-- Displays flashed messages with category failure to the screen. -->
    {% with failure_messages = get_flashed_messages(category_filter=["failure"]) %}
        {% for msg in failure_messages %}
            <div class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endwith %}

    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>