{% extends 'base.html' %}
{% block content %}
<head>
</head>
<body>
    <!-- Display the claim code creation page if the user is a superuser, otherwise display the account claim page. -->
    {% if superuser is defined %}
        <!-- Generate claimable account card -->
        <div class="container pt-5 mt-5">
            <div class="card mx-auto" style="width: 20rem" id="claim-card">
                <div class="card-body text-center">
                    <h2 class="card-title">Create Account</h2>
                    <form method="POST">
                        <input type="text" name="claim_code" class="mb-2 text-center" placeholder="Claim Code" autocomplete="off">
                        <input type="text" name="recipient_username" class="mb-2 text-center" placeholder="Recipient Username" autocomplete="off"><br>
                        <input type="submit" class="btn" value="Submit" style="background-color: var(--blue-green)">
                    </form>
                </div>
            </div>
        </div>
    {% else %}
        <!-- Account claim card -->
        <div class="container pt-5 mt-5">
            <div class="card mx-auto" style="width: 20rem" id="claim-card">
                <div class="card-body text-center">
                    <h2 class="card-title">Claim Account</h2>
                    <form method="POST">
                        <input type="text" name="claim_code" class="mb-2 text-center" placeholder="Claim Code" autocomplete="off">
                        <input type="password" name="password" class="mb-2 text-center" placeholder="New Password" autocomplete="off">
                        <input type="password" name="confirm_password" class="mb-2 text-center" placeholder="Confirm Password" autocomplete="off"><br>
                        <input type="submit" class="btn" value="Submit" style="background-color: var(--blue-green)">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</body>
{% endblock content %}