{% extends 'base.html' %}
{% block content %}
<head>
</head>
<body>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Emoji Name</th>
                <th scope="col">Emoji</th>
            </tr>
        </thead>
        <tbody>
            {% for emoji in emojis %}
                <tr>
                    <td>
                        <code>
                            {{ emoji.name }}
                            {% if emoji.alias != none%}
                                {% for alias in emoji.alias %}
                                   <br> {{ alias }}
                                {% endfor %}
                            {% endif %}
                        </code>
                    </td>
                    <td>
                        {{ emoji.emoji }}
                    </td>
                </tr>
            {% endfor %}
            <!--{% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    {% if user.user_type == 0 %}
                        <td>Normal</td>
                    {% elif user.user_type == 1 %}
                        <td>Superuser</td>
                    {% endif %}
                    <td class="d-none d-md-block">{{ user.user_id }}</td>
                </tr>
            {% endfor %}-->
        </tbody>
    </table>
</body>
{% endblock content %}