{% extends 'base.html' %}
{% block content %}
<head>
</head>
<body>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Emoji Name</th>
                <th scope="col">Emoji</th>
            </tr>
        </thead>
        <tbody>
            {% for emoji in emojis %}
                <tr>
                    <td>
                        <code>
                            :{{ emoji.name }}:
                        </code>
                    </td>
                    <td>
                        {{ emoji.emoji }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}