{% extends 'base.html' %}
{% block content %}
<head>
    <!-- Import JS script to handle socket connections -->
    <script src="/static/index.js"></script>
</head>
<body>
    <style>
        #message-container {
            height: 30rem;
            max-width: 50rem;
            min-width: 25rem;
            overflow-y: scroll;
        }
        #message-container::-webkit-scrollbar {
            width: 0rem;
        }
    </style>
    <p class="h4 text-center mt-4" id="room-code-display">Room Code: _</p>
    <div class="mx-auto border mt-1 bg-light" id="message-container" style="min-height: 25rem">
    </div>
    <div class="text-center pt-3">
        <p class="h6 text-center" id="username-display">Sending messages as _:</p>
        <input class="text mb-1" id="send-box" style="min-width: 25rem" autocomplete="off">
    </div>
</body>
{% endblock content %}