{% extends 'base.html' %}
{% block content %}
<head>
    <!-- Import JS script to handle socket connections -->
    <script src="/static/index.js"></script>
</head>
<body>
    <style>
        .text-box {
            height: 67vh;
            overflow-y: scroll;
        }
        .text-box::-webkit-scrollbar {
            width: 0rem;
        }
        #message-container {
            max-width: 60rem;
            min-width: 25rem;
        }
    </style>
    <div class="row">
        <!-- Show the public chat rooms list. This is hidden on devices with viewports smaller than medium. -->
        <div class="col-3 d-none d-md-block">
            <p class="h5 text-center mt-4">Public Rooms:</p>
            <ul class="mx-auto border mt-1 bg-light text-box list-group text-center" id="public-rooms-container">
                <a href="/?room_code=GLOBAL" class="list-group-item list-group-item-action" id="room-code-GLOBAL">Global Chat</a>
            </ul>
            <p class="h6 text-center mt-1">Join a Room Here:</p>
            <div class="form-inline">
                <input class="pt-1 pb-1 mr-1 form-control" id="room-code-input" style="min-width: 100%;" autocomplete="off">
            </div>
        </div>
        <!-- Show all messages. This takes up the entire screen on viewports smaller than medium, but shares the screen for larger viewports. -->
        <div class="col-md-9 col-sm-12">
            <p class="h5 text-center mt-4" id="room-code-display">Room Code: _</p>
            <div class="mx-auto border mt-1 bg-light text-box" id="message-container">
                <!--<div class="d-flex justify-content-center sticky-top">
                    <button class="btn badge badge-pill mt-2 bg-blue-green d-none" id="unread-button">
                        Unread Messages
                    </button>
                </div>-->
                <!-- SAMPLE MESSAGE
                    <div class="bg-grey pt-4 pb-2 pl-5 pr-5" style="border-width: 4px !important; border-color: transparent !important;" id="msg-16526345468069">
                    <div class="text-secondary text-truncate mt--1 ml--3 mb-1 mr-5 pl-5">
                        <span><strong>Joe</strong></span>
                        <span class="font-weight-light text-truncate">Hi there this is an example message sent by someone</span>
                    </div>
                    <div class="d-inline-flex">
                        <span class="h6"><strong>You</strong></span>
                        <span class="h6 font-weight-light pl-3">01:09 PM on Sunday, May 15 2022</span>
                    </div>
                    <div class="d-inline float-right mr--2" id="icons">
                        <button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 1px 1px 0px 1px;" onclick="replyButtonListener(this)">
                            <span class="material-symbols-outlined">reply</span>
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 1px 1px 0px 1px;" onclick="editButtonListener(this)">
                            <span class="material-symbols-outlined">edit</span>
                        </button>
                        <button type="button" class="btn btn-outline-danger btn-sm" style="padding: 1px 1px 0px 1px;" onclick="deleteButtonListener(this)">
                            <span class="material-symbols-outlined">delete</span>
                        </button>
                    </div>
                    <p class="text-secondary text-break" id="content">Hello World</p>
                </div>-->
            </div>
            <p class="h6 text-center mt-1" id="username-display">Sending messages as _:</p>
            <input type="text" class="pt-1 pb-1 mb-1 form-control" id="message-send-box" style="min-width: 25rem" autocomplete="off">
        </div>
    </div>
</body>
{% endblock content %}