{% extends 'base.html' %}
{% block content %}
<head>
</head>
<body>
    <!-- Login card -->
    <div class="container pt-5 mt-5">
        <div class="card mx-auto" style="width: 20rem" id="login-card">
            <div class="card-body text-center">
                <h2 class="card-title">Log In</h2>
                <form method="POST">
                    <input type="text" name="username" placeholder="Username">
                    <input type="submit" class="btn" value="Submit" style="background-color: var(--blue-green)">
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock content %}