{% extends 'base.html' %}
{% block content %}
<head>
    <script src="/static/login.js"></script>
</head>
<body>
    <!-- Login card -->
    <div class="container pt-5 mt-5">
        <div class="card mx-auto" style="width: 20rem" id="login-card">
            <div class="card-body text-center">
                <h2 class="card-title">Log In</h2>
                <form method="POST">
                    <input type="text" name="username" class="mb-2 text-center" placeholder="Username" autocomplete="off">
                    <input type="hidden" name="room_code" placeholder="Room Code" class="mb-2 text-center" id="room_code_input" autocomplete="off"><br>
                    <input type="checkbox" id="select_room_type" onclick="toggleRoomCode();">
                    <label for="select_room_type">Private Room</label><br>
                    <input type="submit" class="btn" value="Submit" style="background-color: var(--blue-green)">
                </form>
            </div>
        </div>
    </div>
</body>
{% endblock content %}