{% extends 'base.html' %}
{% block content %}
<head>
</head>
<body>
    <p class="h4 text-center mt-5">
        Chat App User Data<br>
        <small class="text-muted">Showing Data For {{ users | length }} Users</small>
    </p>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">User Type</th>
                <th scope="col" class="d-none d-md-block">User ID</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.password }}</td>
                    {% if user.user_type == 0 %}
                        <td>Normal</td>
                    {% elif user.user_type == 1 %}
                        <td>Superuser</td>
                    {% endif %}
                    <td class="d-none d-md-block">{{ user.user_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock content %}