{% extends 'base.html' %}
{% block content %}
<head>
</head>
<body>
    <div class="container pt-5">
        <!--<p class="display-4">All Users:</p>-->
        {% for user in users %}
            <!--<div class="row pt-2">
                <p class="h5 d-inline col-sm font-weight-light">Username: {{ user.username }}</p>
                <p class="h5 d-inline col-sm font-weight-light">Password: {{ user.password }}</p>
                <p class="h5 d-inline col-sm font-weight-light">User ID: {{ user.user_id }}</p>
            </div>-->
            <div class="row pt-2">
                <p class="h5 d-inline col-sm">Username: {{ user.username }}</p>
                <p class="h5 d-inline col-sm">Password: {{ user.password }}</p>
                <p class="h5 d-inline col-sm">User ID: {{ user.user_id }}</p>
                {% if user.user_type == 0 %}
                    <p class="h5 d-inline col-sm">User Type: Normal User</p>
                {% elif user.user_type == 1 %}
                    <p class="h5 d-inline col-sm">User Type: Superuser</p>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
{% endblock content %}